/.idea
/chessPuzzle-parent.iml
/chessPuzzle-core/target
/chessPuzzle-core/chessPuzzle-core.iml
/chessPuzzle-console/target
/chessPuzzle-console/chessPuzzle-console.iml
/chessPuzzle-front/target
/chessPuzzle-front/chessPuzzle-front.iml